<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Elevate Web Solutions</title>
    </head>
    <body>
        <div class="site-title">
            <a href="/"><h1>Elevate Websites</h1></a>
            <p>Today is a great day to code!</p>
        </div>

        <nav>
            <ul>
                <li><a href="/">Blogs</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">Create</a></li>
            </ul>
        </nav>
        <div class="not-found content">Oops. Page not found</div>
    </body>
</html>
